body {
  /* background-color: rgba(244, 211, 211, 0.8);  */
  background-color: rgba(244, 211, 211, 0.1);
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}


header {
    background-color: rgb(9, 5, 128);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0;
    border-radius: 0.5rem;
    font-size: larger;
    gap: 20px;
}



ul {
    list-style-type: none;
    overflow: hidden;
}
  
li {
    float: right;
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(232, 169, 169);
    transform: scale(0.75);
    border-radius: 8px;
}
  
#table{
    text-align: center;
    /* border: 5px solid rgb(70, 69, 140); */
    margin: auto;
    width: 50%;
    padding: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(232, 169, 169);
    border-left: 1px solid rgb(232, 169, 169);
}

th {
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid rgb(232, 169, 169);
}

#table thead th {
    background-color: rgb(70, 69, 140);
    color: white;
    text-align: center;
}

tr:hover {
    background-color: rgba(70, 69, 140, 0.3);
}

footer {
    background-color: rgb(9, 5, 128);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 0.5rem;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  footer ul li {
    margin-right: 10px;
    text-decoration: none;

  }
  
  footer ul li:last-child {
    margin-right: 0;
  }
  
  footer ul li:before {
    margin-right: 5px;
  }
  
  footer p {
    margin-top: 10px;
  }
  
  
   